node_modules/
dist/
es/
lib/
coverage/


npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.DS_Store